.app {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  padding: 1rem;
  border-radius: 15px;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  backdrop-filter: 1rem;
  display: flex;
  flex-direction: column;
}

.app input {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: #444;
}

.app button {
  cursor: pointer;
  outline: none;
  border: none;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #444;
  padding: 0.5rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.app button:hover {
  background-color: #fff;
  transform: translateY(-3px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.app button:active {
  transform: translateY(-1px);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
}
